<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
   <br />
	 <h1>Learn to Make Chocolate from the Pros</h1>
	 <h2>yum yum</h2>
   <br />
   <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
   <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<h3>Recipes</h3>
			<%= image_tag 'cocoa1.png' %>
			<h4 class='text-center'>
				Step by step instructions
			</h4>
	</div>

	<div class="col-sm-4">
		<h3>How To Guide With Videos</h3>
			<%= image_tag 'cocoa2.png' %>
			<h4 class='text-center'>
				Watch  
			</h4>
	</div>

	<div class="col-sm-4">
		<h3>Drink and eat</h3>
			<%= image_tag 'cocoa3.png' %>
			<h4 class='text-center'>
				It's all yours
			</h4>
	</div>
</div>